<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7M80omaa4NGqFZhAghW_FN0yTePcoMD8</string>
	<key>GCM_SENDER_ID</key>
	<string>517984228042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ulearingApp</string>
	<key>PROJECT_ID</key>
	<string>ulearning-app-a820e</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearning-app-a820e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517984228042:ios:581359905c00f22fab1a33</string>
</dict>
</plist>